* {
    margin: 0;
}
.grid_3_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin:40px 180px 40px 180px;
}
.grid_3_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin:40px 180px 40px 180px;
}

.flex-col {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

}
.flex-col :last-child {
margin-top: auto;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}




  img {
    transition: transform .5s ease;
  }

  .flex-col:hover img {
    transform: scale(1.1);
  }

.overflow {
    overflow: hidden;
}


